@model Food_Sharing_Food.Models.Foods

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Foods</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeFoods.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeFoods.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
