
@{
    ViewBag.Title = "FoodLike3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>
    <html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/Content/FoodLike.css">
        <title>Món ăn của tôi</title>

    </head>

    <body>
        <header>
            <h1>Món ăn yêu thích </h1>
        </header>

        <main>
            <h1>Pizza Hut </h1>
            <img src="~/Content/images/pizzahutestore.jpg" alt="" class="recipe-image">
            <p>
                Pizza Hut là một chuỗi nhà hàng pizza toàn cầu với chuyên môn về ẩm thực Ý. Các sản phẩm ăn uống của Pizza
                Hut bao gồm pizza, salad, pasta, sandwich và các loại đồ uống..
            </p>

            <div class="ingredients">
                <h2>Các món ăn ở Pizza Hut</h2>
                <ul>
                    <li>Pizza</li>
                    <li>Salad</li>
                    <li>Pasta</li>
                    <li>Sandwich</li>
                    <li>Chicken wings</li>
                    <li>Breadsticks </li>

                </ul>
            </div>
            <div class="instructions">
                <h2>Giới Thiệu</h2>
                <li>
                    NPizza Hut được thành lập vào năm 1958 tại Wichita, Kansas, Hoa Kỳ bởi hai người anh em Dan và Frank
                    Carney. Sau đó, Pizza Hut đã nhanh chóng mở rộng và phát triển trên toàn thế giới. Hiện nay, Pizza Hut
                    là một trong những thương hiệu hàng đầu trong lĩnh vực pizza với hơn 18.000 cửa hàng tại hơn 100 quốc
                    gia.
                </li>
                <li>
                    Món ăn nổi bật và phổ biến nhất của Pizza Hut là pizza, với nhiều loại đế bánh khác nhau như bánh mỏng,
                    bánh dày, bánh nướng, bánh calzone và bánh rế. Pizza Hut cũng cung cấp một loạt các loại topping phong
                    phú và đa dạng như xúc xích, thịt bò, thịt xông khói, rau cải, cà chua, hành tây và nhiều hơn nữa.
                </li>
            </div>
        </main>
    </body>

    </html>*@
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Yamifood Restaurant - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="asset/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="asset/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/asset/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/asset/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/asset/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/asset/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                @*<a class="navbar-brand" href="asset/index.html">
                        <img src="~/asset/images/logo.png" alt="" />
                    </a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-rs-food">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Food", "Food")">Món Ăn Ngon</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("About", "Home")">Về Chúng Tôi</a></li>
                        @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                    <a class="dropdown-item" href="~/asset/reservation.html">Reservation</a>
                                    <a class="dropdown-item" href="~/asset/stuff.html">Stuff</a>
                                    <a class="dropdown-item" href="~/asset/gallery.html">Gallery</a>
                                </div>
                            </li>*@
                        @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Blog</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                    <a class="dropdown-item" href="~/asset/blog.html">blog</a>
                                    <a class="dropdown-item" href="~/asset/blog-details.html">blog Single</a>
                                </div>
                            </li>*@
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "FeedBack")">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="accordion-item">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->
    <!-- Start All Pages -->
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Bài Viết</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Pages -->
    <!-- Start blog details -->
    <div class="blog-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Diễn Đàn</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-12">
                    <div class="blog-inner-details-page">
                        <div class="blog-inner-box">
                            <div class="side-blog-img">
                                <img class="img-fluid" src="~/asset/images/hut.jpg" alt="">
                                <div class="date-blog-up">
                                    19 Tháng 12
                                </div>
                            </div>
                            <div class="inner-blog-detail details-page">
                                <h3>Pizza Hut hương vị của tư bản</h3>
                                <ul>
                                    <li><i class="zmdi zmdi-account"></i>Posted By : <span>Admin</span></li>
                                    <li>|</li>
                                    <li><i class="zmdi zmdi-time"></i>Time : <span>11.30 am</span></li>
                                </ul>
                                <p>Pizza Hut là một trong những chuỗi nhà hàng pizza nổi tiếng trên khắp thế giới, đặc biệt nổi tiếng với phong cách pizza "pan pizza" thơm ngon và các món ăn khác độc đáo. Được thành lập vào năm 1958 tại Wichita, Kansas, Hoa Kỳ, Pizza Hut đã trở thành một biểu tượng của ẩm thực pizza và thức ăn nhanh trên toàn cầu.</p>
                                <p>Pizza Hut bắt đầu với sự sáng tạo của hai sinh viên đại học, Dan và Frank Carney. Họ mượn 600 đô la từ mẹ để mở quán pizza đầu tiên của mình trong một căn nhà nhỏ. Từ đó, Pizza Hut đã phát triển mạnh mẽ và trở thành một trong những chuỗi nhà hàng lớn nhất thế giới.</p>
                                <blockquote>
                                    <p>
                                        Pizza Hut có mặt tại hầu hết các quốc gia trên thế giới, và họ đã tinh chỉnh thực đơn để phản ánh sự đa dạng văn hóa. Điều này có thể thấy qua việc họ thích ứng với khẩu vị đặc trưng của từng thị trường, thậm chí tạo ra các phiên bản đặc biệt chỉ có ở một số quốc gia.
                                    </p>
                                </blockquote>
                                <p>Pizza Hut không chỉ là nơi để thưởng thức pizza ngon mà còn là một phần quan trọng của văn hóa ẩm thực toàn cầu, đưa hương vị vòng tròn đặc trưng của họ đến bàn ăn của hàng triệu người trên thế giới.</p>
                            </div>
                        </div>
                        <div class="blog-comment-box">
                            <h3>Bình Luận</h3>
                            <div class="comment-item">
                                <div class="comment-item-left">
                                    <img src="~/asset/images/avt-img.jpg" alt="">
                                </div>
                                <div class="comment-item-right">
                                    <div class="pull-left">
                                        <a href="#">Rubel Ahmed</a>
                                    </div>
                                    <div class="pull-right">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>Time : <span>11.30 am</span>
                                    </div>
                                    <div class="des-l">
                                        <p>Morbi lacinia ultrices lorem id tincidunt. Cras id dui risus. Pellentesque consectetur id mi sed pharetra. Proin imperdiet gravida nisl, sit amet varius urna. In auctor.</p>
                                    </div>
                                    <a href="#" class="right-btn-re"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                </div>
                            </div>
                            <div class="comment-item children">
                                <div class="comment-item-left">
                                    <img src="~/asset/images/avt-img.jpg" alt="">
                                </div>
                                <div class="comment-item-right">
                                    <div class="pull-left">
                                        <a href="#">Admin</a>
                                    </div>
                                    <div class="pull-right">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>Time : <span>1.30 pm</span>
                                    </div>
                                    <div class="des-l">
                                        <p>Morbi lacinia ultrices lorem id tincidunt. Cras id dui risus. Pellentesque consectetur id mi sed pharetra. Proin imperdiet gravida nisl, sit amet varius urna. In auctor.</p>
                                    </div>
                                    <a href="#" class="right-btn-re"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                </div>
                            </div>
                            <div class="comment-item">
                                <div class="comment-item-left">
                                    <img src="~/asset/images/avt-img.jpg" alt="">
                                </div>
                                <div class="comment-item-right">
                                    <div class="pull-left">
                                        <a href="#">Rubel Ahmed</a>
                                    </div>
                                    <div class="pull-right">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>Time : <span>11.30 am</span>
                                    </div>
                                    <div class="des-l">
                                        <p>Morbi lacinia ultrices lorem id tincidunt. Cras id dui risus. Pellentesque consectetur id mi sed pharetra. Proin imperdiet gravida nisl, sit amet varius urna. In auctor.</p>
                                    </div>
                                    <a href="#" class="right-btn-re"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-respond-box">
                            <h3>Leave your comment </h3>
                            <div class="comment-respond-form">
                                <form id="commentrespondform" class="comment-form-respond row" method="post">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input id="name_com" class="form-control" name="name" placeholder="Name" type="text">
                                        </div>
                                        <div class="form-group">
                                            <input id="email_com" class="form-control" name="email" placeholder="Your Email" type="email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <textarea class="form-control" id="textarea_com" placeholder="Your Message" rows="2"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <button class="btn btn-submit">Submit comment</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar">
                    <div class="right-side-blog">
                        @*<h3>Search</h3>
                            <div class="blog-search-form">
                                <input name="search" placeholder="Search blog" type="text">
                                <button class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>*@
                        @*<h3>Thể Loại</h3>
                            <div class="blog-categories">
                                <ul>
                                    <li><a href="#"><span>Food</span></a></li>
                                    <li><a href="#"><span>Pizza</span></a></li>
                                    <li><a href="#"><span>Drink</span></a></li>
                                    <li><a href="#"><span>Lorem Sit</span></a></li>
                                    <li><a href="#"><span>Burger</span></a></li>
                                    <li><a href="#"><span>Music</span></a></li>
                                </ul>
                            </div>*@
                        <h3>Recent Post</h3>
                        <div class="post-box-blog">
                            <div class="recent-post-box">
                                <div class="recent-box-blog">
                                    <div class="recent-img">
                                        <img class="img-fluid" src="~/asset/images/comgaa.jpg" alt="">
                                    </div>
                                    <div class="recent-info">
                                        <ul>
                                            <li><i class="zmdi zmdi-account"></i>Posted By : <span>Rubel Ahmed</span></li>
                                            <li>|</li>
                                            <li><i class="zmdi zmdi-time"></i>Time : <span>11.30 am</span></li>
                                        </ul>
                                        <h4>Cơm gà Trâm Anh có thực sự ngon như lời đồn??</h4>
                                    </div>
                                </div>
                                <div class="recent-box-blog">
                                    <div class="recent-img">
                                        <img class="img-fluid" src="~/asset/images/caepce.jpg" alt="">
                                    </div>
                                    <div class="recent-info">
                                        <ul>
                                            <li><i class="zmdi zmdi-account"></i>Posted By : <span>Admin A</span></li>
                                            <li>|</li>
                                            <li><i class="zmdi zmdi-time"></i>Time : <span>13.30 am</span></li>
                                        </ul>
                                        <h4>Gà KFC cho đến thời điểm hiện tại có còn ngon như ngày đầu??</h4>
                                    </div>
                                </div>
                                @*<div class="recent-box-blog">
                                        <div class="recent-img">
                                            <img class="img-fluid" src="asset/images/post-img-03.jpg" alt="">
                                        </div>
                                        <div class="recent-info">
                                            <ul>
                                                <li><i class="zmdi zmdi-account"></i>Posted By : <span>Rubel Ahmed</span></li>
                                                <li>|</li>
                                                <li><i class="zmdi zmdi-time"></i>Time : <span>11.30 am</span></li>
                                            </ul>
                                            <h4>Duis feugiat neque sed dolor cursus, sed lacinia nisl pretium.</h4>
                                        </div>
                                    </div>*@
                                <div class="recent-box-blog">
                                    <div class="recent-img">
                                        <img class="img-fluid" src="~/asset/images/post-img-01.jpg" alt="">
                                    </div>
                                    <div class="recent-info">
                                        <ul>
                                            <li><i class="zmdi zmdi-account"></i>Posted By : <span>Admin H</span></li>
                                            <li>|</li>
                                            <li><i class="zmdi zmdi-time"></i>Time : <span>17.30 am</span></li>
                                        </ul>
                                        <h4>Một bữa cơm gia đình ngon bao gồm những món nào..</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Thẻ trong bài viết</h3>
                        <div class="blog-tag-box">
                            <ul class="list-inline tag-list">
                                <li class="list-inline-item"><a href="#">Món Ăn</a></li>
                                <li class="list-inline-item"><a href="#">Du Lịch</a></li>
                                <li class="list-inline-item"><a href="#">Kiến Thức</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End details -->
    <!-- Start Contact info -->
    <div class="contact-imfo-box">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-volume-control-phone"></i>
                    <div class="overflow-hidden">
                        <h4>Điện Thoại</h4>
                        <p class="lead">
                            0912345676
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-envelope"></i>
                    <div class="overflow-hidden">
                        <h4>Email</h4>
                        <p class="lead">
                            monanngon@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-map-marker"></i>
                    <div class="overflow-hidden">
                        <h4>Địa Chỉ</h4>
                        <p class="lead">
                            123 Đường Nguyễn Huệ , Quận 1, TP HCM
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact info -->
    <!-- Start Footer -->
    <footer class="footer-area bg-f">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h3>Về Chúng Tôi</h3>
                    <p>Chúng tôi với sứ mệnh mang đến cho mọi người những món ăn ngon, sạch sẽ, cũng như tạo ra cộng động để mọi người chia sẽ những món ăn ngon.</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3> Đến với chúng tôi</h3>
                    <p>Bạn sẽ không thể rời mắt khỏi màn hình với những món ăn được chia sẻ ở nơi đây</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Thông Tin Liên Hệ</h3>
                    <p class="lead">123 Đường Nguyễn Huệ , Quận 1, TP HCM</p>
                    <p class="lead"><a href="#"> 0912345676</a></p>
                    <p><a href="#">  monanngon@gmail.com</a></p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Phản hồi nhanh</h3>
                    <div class="subscribe_form">
                        <form class="subscribe_form">
                            <input name="EMAIL" id="subs-email" class="form_input" placeholder="Địa chỉ Email..." type="email">
                            <button type="submit" class="submit">Phản Hồi</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <ul class="list-inline f-social">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="company-name">
                            &copy; All rights reserved. <a href="#"> 2023 Món Ăn Ngon.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
    <!-- ALL JS FILES -->
    <script src="~/asset/js/jquery-3.2.1.min.js"></script>
    <script src="~/asset/js/popper.min.js"></script>
    <script src="~/asset/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/asset/js/jquery.superslides.min.js"></script>
    <script src="~/asset/js/images-loded.min.js"></script>
    <script src="~/asset/js/isotope.min.js"></script>
    <script src="~/asset/js/baguetteBox.min.js"></script>
    <script src="~/asset/js/form-validator.min.js"></script>
    <script src="~/asset/js/contact-form-script.js"></script>
    <script src="~/asset/js/custom.js"></script>
</body>
</html>