@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Món Ăn Ngon</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/asset/cs/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/asset/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/asset/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/asset/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                @* <a class="navbar-brand" href="asset/index.html">
                        <img src="~/asset/images/logo.png" alt="" />
                    </a> *@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbars-rs-food">
                    <ul class="navbar-nav ml-lg-1">
                        <!-- Thay đổi lớp từ ml-auto thành mr-auto -->
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Food", "Food")">Món Ăn Ngon</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("About", "Home")">Về Chúng Tôi</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Blog", "Home")">Diễn Đàn</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Giỏ Hàng</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="@Url.Action("ShowtoCart", "ShoppingCart")">Đặt Hàng</a>
                                <a class="dropdown-item" href="@Url.Action("Payment", "ShoppingCart")">Thanh Toán</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "FeedBack")">Liên hệ</a></li>
                    </ul>
                </div>

                <div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <div id="slides" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="~/asset/images/slider-01.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Chào Mừng Đến Với <br> Món Ăn Ngon</strong></h1>
                            <p class="m-b-40">
                                Xem và Tận hưởng thế giới ẩm thực không giới hạn với chúng tôi
                            </p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Trải Nghiệm Ngay</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="~/asset/images/slider-02.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Chào Mừng Đến Với <br> Món Ăn Ngon</strong></h1>
                            <p class="m-b-40">
                                Trải nghiệm sự đa dạng về ẩm thực khắp Việt Nam
                            </p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Trải Nghiệm Ngay</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="~/asset/images/slider-03.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Chào Mừng Đến Với <br> Món Ăn Ngon</strong></h1>
                            <p class="m-b-40">
                                Ẩm thực từ dân giả cho đến sang trọng
                            </p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Trải Nghiệm Ngay</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End slides -->
    <!-- Start About -->
    <div class="about-section-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="~/asset/images/OMG.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="inner-column">
                        <h1>Chào Mừng Đến Với <span>Món Ăn Ngon</span></h1>
                        <h4>Mẫu Truyện Nhỏ</h4>
                        <p>Chúng tôi là những người rất thích ăn uống và cũng có những người bạn có cùng tầng số ăn uống như mình, vì vậy chúng tôi đã tạo ra trang web này để mang đến những giá trị cho cộng đồng thích ăn uống như chúng tôi và những người bạn của chúng tôi. </p>
                        <p>-Đội ngũ làm Web Món Ăn Ngon- </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->
    <!-- Start QT -->
    <div class="qt-box qt-background">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-left">
                    <p class="lead ">
                        "Thức ăn là nền tảng của sức khỏe"
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End QT -->
    <!-- Start Menu -->
    <div class="menu-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Một số món ăn chúng tôi đã từng thưởng thức</h2>
                        <p>-Cùng nhau thưởng thức những món ăn ngon nhé-</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">Tất cả</button>
                            <button data-filter=".drinks">Nước uống</button>
                            <button data-filter=".lunch">Bữa Trưa</button>
                            <button data-filter=".dinner">Bữa Tối</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row special-list">
                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="~/asset/images/img-01.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Rượu rum</h4>
                            <p>Thức uống dành cho những người sành điệu</p><br />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="~/asset/images/img-02.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Nước lá tía tô</h4>
                            <p>"Cái gì? Có phải không vậy" <br />Đấy là những gì bạn sẽ phải thốt lên khi thấy bức ảnh này lần đầu</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="~/asset/images/img-03.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Cocktail</h4>
                            <p>Lại là D... à nhầm lại là một thức uống nước dành cho người sành điệu</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="~/asset/images/img-04.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Hambergur</h4>
                            <p>Một món ăn nhanh không thể quen thuộc hơn đối với GEN Z, xuất hiện ở tất cả các cửa hàng bán đồ ăn nhanh</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="~/asset/images/img-05.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Món Salad Trộn tự làm</h4>
                            <p>Chúng tôi nói "tự làm" ở nhà thế thôi chứ thật ra chúng tôi ăn món này ở nhà hàng...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="~/asset/images/img-06.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Cơm gia đình</h4>
                            <p>Chúng tôi ăn ngoài nhà hàng nốt</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid dinner">
                    <div class="gallery-single fix">
                        <img src="~/asset/images/img-07.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Ăn tối</h4>
                            <p>Bữa ăn tối đa dạng sẽ giúp bạn tiêu hóa dễ dàng</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid dinner">
                    <div class="gallery-single fix">
                        <img src="~/asset/images/img-08.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4> Đồ ăn hàn quốc</h4>
                            <p>Lâu lâu ăn tối đổi sang ăn nhũng món hàn quốc cũng ngon mà hihi</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid dinner">
                    <div class="gallery-single fix">
                        <img src="~/asset/images/img-09.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>Cơm gà</h4>
                            <p>Lúc nào ăn cơm gà thì cũng như lần đầu đối với chúng tôi, bởi vì chúng tôi ăn nhiều quán cơm gà khác nhau keke</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Menu -->
    <!-- Start Gallery -->
    <div class="gallery-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Bộ Sưu Tập</h2>
                        <p>-Những món ăn dưới ống kính của Nhiếp Ảnh Gia-</p>
                    </div>
                </div>
            </div>
            <div class="tz-gallery">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <a class="lightbox" href="~/asset/images/gallery-img-01.jpg">
                            <img class="img-fluid" src="~/asset/images/gallery-img-01.jpg" alt="Gallery Images">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <a class="lightbox" href="~/asset/images/gallery-img-02.jpg">
                            <img class="img-fluid" src="~/asset/images/gallery-img-02.jpg" alt="Gallery Images">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <a class="lightbox" href="~/asset/images/gallery-img-03.jpg">
                            <img class="img-fluid" src="~/asset/images/gallery-img-03.jpg" alt="Gallery Images">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <a class="lightbox" href="~/asset/images/gallery-img-04.jpg">
                            <img class="img-fluid" src="~/asset/images/gallery-img-04.jpg" alt="Gallery Images">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <a class="lightbox" href="~/asset/images/gallery-img-05.jpg">
                            <img class="img-fluid" src="~/asset/images/gallery-img-05.jpg" alt="Gallery Images">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <a class="lightbox" href="~/asset/images/gallery-img-06.jpg">
                            <img class="img-fluid" src="~/asset/images/gallery-img-06.jpg" alt="Gallery Images">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Contact info -->
    <div class="contact-imfo-box">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-volume-control-phone"></i>
                    <div class="overflow-hidden">
                        <h4>Điện Thoại</h4>
                        <p class="lead">
                            0912345676
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-envelope"></i>
                    <div class="overflow-hidden">
                        <h4>Email</h4>
                        <p class="lead">
                            monanngon@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-map-marker"></i>
                    <div class="overflow-hidden">
                        <h4>Địa Chỉ</h4>
                        <p class="lead">
                            123 Đường Nguyễn Huệ , Quận 1, TP HCM
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact info -->
    <!-- Start Footer -->
    <footer class="footer-area bg-f">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h3>Về Chúng Tôi</h3>
                    <p>Chúng tôi với sứ mệnh mang đến cho mọi người những món ăn ngon, sạch sẽ, cũng như tạo ra cộng động để mọi người chia sẽ những món ăn ngon.</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3> Đến với chúng tôi</h3>
                    <p>Bạn sẽ không thể rời mắt khỏi màn hình với những món ăn được chia sẻ ở nơi đây</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Thông Tin Liên Hệ</h3>
                    <p class="lead">123 Đường Nguyễn Huệ , Quận 1, TP HCM</p>
                    <p class="lead"><a href="#"> 0912345676</a></p>
                    <p><a href="#">  monanngon@gmail.com</a></p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Phản hồi nhanh</h3>
                    <div class="subscribe_form">
                        <form class="subscribe_form">
                            <input name="EMAIL" id="subs-email" class="form_input" placeholder="Địa chỉ Email..." type="email">
                            <button type="submit" class="submit">Phản Hồi</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <ul class="list-inline f-social">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="company-name">
                            &copy; All rights reserved. <a href="#"> 2023 Món Ăn Ngon.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
    <!-- ALL JS FILES -->
    <script src="~/asset/js/jquery-3.2.1.min.js"></script>
    <script src="~/asset/js/popper.min.js"></script>
    <script src="~/asset/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/asset/js/jquery.superslides.min.js"></script>
    <script src="~/asset/js/images-loded.min.js"></script>
    <script src="~/asset/js/isotope.min.js"></script>
    <script src="~/asset/js/baguetteBox.min.js"></script>
    <script src="~/asset/js/form-validator.min.js"></script>
    <script src="~/asset/js/contact-form-script.js"></script>
    <script src="~/asset/js/custom.js"></script>
</body>
</html>